<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liantuo.trade.orm.mapper.TradeTransactionidInfoMapper" >
  <resultMap id="BaseResultMap" type="com.liantuo.trade.orm.pojo.TradeTransactionidInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="core_merchant_no" property="coreMerchantNo" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="payer_account" property="payerAccount" jdbcType="VARCHAR" />
    <result column="payer_name" property="payerName" jdbcType="VARCHAR" />
    <result column="requester" property="requester" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, core_merchant_no, transaction_id, payer_account, payer_name, requester, gmt_created, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.liantuo.trade.orm.pojo.TradeTransactionidInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_transactionid_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trade_transactionid_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <!-- <insert id="insert" parameterType="com.liantuo.trade.orm.pojo.TradeTransactionidInfo" >
    insert into trade_transactionid_info (id, core_merchant_no, transaction_id, 
      payer_account, payer_name, requester, 
      gmt_created, remark)
    values (#{id,jdbcType=BIGINT}, #{coreMerchantNo,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{payerAccount,jdbcType=VARCHAR}, #{payerName,jdbcType=VARCHAR}, #{requester,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert> -->
  <insert id="insertSelective" parameterType="com.liantuo.trade.orm.pojo.TradeTransactionidInfo" >
    insert into trade_transactionid_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coreMerchantNo != null" >
        core_merchant_no,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="payerAccount != null" >
        payer_account,
      </if>
      <if test="payerName != null" >
        payer_name,
      </if>
      <if test="requester != null" >
        requester,
      </if>
        gmt_created,
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="coreMerchantNo != null" >
        #{coreMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="payerAccount != null" >
        #{payerAccount,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="requester != null" >
        #{requester,jdbcType=VARCHAR},
      </if>
        NOW(),
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update trade_transactionid_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.coreMerchantNo != null" >
        core_merchant_no = #{record.coreMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.payerAccount != null" >
        payer_account = #{record.payerAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.payerName != null" >
        payer_name = #{record.payerName,jdbcType=VARCHAR},
      </if>
      <if test="record.requester != null" >
        requester = #{record.requester,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update trade_transactionid_info
    set id = #{record.id,jdbcType=BIGINT},
      core_merchant_no = #{record.coreMerchantNo,jdbcType=VARCHAR},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      payer_account = #{record.payerAccount,jdbcType=VARCHAR},
      payer_name = #{record.payerName,jdbcType=VARCHAR},
      requester = #{record.requester,jdbcType=VARCHAR},
      gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liantuo.trade.orm.pojo.TradeTransactionidInfo" >
    update trade_transactionid_info
    <set >
      <if test="coreMerchantNo != null" >
        core_merchant_no = #{coreMerchantNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="payerAccount != null" >
        payer_account = #{payerAccount,jdbcType=VARCHAR},
      </if>
      <if test="payerName != null" >
        payer_name = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="requester != null" >
        requester = #{requester,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liantuo.trade.orm.pojo.TradeTransactionidInfo" >
    update trade_transactionid_info
    set core_merchant_no = #{coreMerchantNo,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      payer_account = #{payerAccount,jdbcType=VARCHAR},
      payer_name = #{payerName,jdbcType=VARCHAR},
      requester = #{requester,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>